# Ignore all files and directories in the root directory by default
**

# Exclude what is required for the build container to run
!package.json
!package-lock.json
!tsconfig.json
!gulpfile.js
!global.d.ts
!src/