# General
.DS_Store
.AppleDouble
.LSOverride
.tmp
.sass-cache

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vendor modules/classes
node_modules/

# Log Files
logs/*

# Environment variables file
*.env
!.sample.env
 
# Uploaded documents
uploads/

# Builds and Distribution directory
dist/
docs/
.nyc_output
coverage/